@model WebAppForMembers.Models.OrganisationRegistrationViewModel
@using CommonData.Entities

@{
    ViewData["Title"] = "Register";
}

<h2>Register organisation</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>register
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfStructure" class="control-label"></label>
                <select asp-for="@Model.TypeOfStructure" asp-items="Html.GetEnumSelectList<TypeOfStructure>()"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PermitNewMembers" /> @Html.DisplayNameFor(model => model.PermitNewMembers)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AdminUserName" class="control-label"></label>
                <input asp-for="AdminUserName" class="form-control" />
                <span asp-validation-for="AdminUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
