@model OrganisationViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Quitting organisation</h1>

<h3>Are you sure you want to quit this organisation?</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Number of events
            </th>
            <th>
                Strictest deadline
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NumberOfEvents)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Deadline)
                </td>
            </tr>
    </tbody>
</table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
