@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    
    <p style="text-align:left">
        This web page is for organisations and their members. The goal of this application is to help members to keep track of upcoming events at their organisation(s), accept or reject invitations, set preferences such as the preferred venue for an event, etc. You can also join organisations if they allow it and you are able to provide an email address from the domain required at the organisation. Some organisations only let those join, who are present in their database. Some do not allow new members at all. These functionalities are available only to registered and signed users.
    </p>
    <p style="text-align:left">
        If you join an organisation you are likely to be presented with a form. This occurs when you are not in the organisation's database. Otherwise you do not have to fill a form. Every time you make changes you will be directed to a page which informs you of the outcome of the action. At the bottom of this page will appear a link that redirects you to the last subpage you visited before submitting changes.
    </p>
    <p style="text-align:left">
        Organisations also can register for this website. Registered organisations gain access to the desktop application, with which they can announce events, manage data, and construct guest lists suited to the events. Be aware that you can only register an organisation if you created an account for the administrator of the organisation beforehand.
    </p>

    
</div>
